/*media query breakpoints*/
$phones-minwidth: 30rem;
$phones-maxwidth: 29.999rem;
$tablet-minwidth: 48rem;
$tablet-maxwidth: 47.999rem;
$lg-tablet-minwidth: 53rem;
$lg-tablet-maxwidth: 52.999rem;
$desktop-minwidth: 62rem;
$desktop-maxwidth: 61.999rem;
$lg-desktop-minwidth: 75rem;
$lg-desktop-maxwidth: 74.999rem;
$widescreen-minwidth: 90rem;
$widescreen-maxwidth: 89.999rem;
$lg-widescreen-minwidth: 100rem;
$lg-widescreen-maxwidth: 99.999rem;
