// Colors
$color__primary: var(--color-primary);
$color__secondary: var(--color-secondary);
$color__accent: var(--color-accent);
$color__tertiary: var(--color-tertiary);

$color__grey: var(--color-grey);
$color__grey--light: var(--color-grey-light);

$color__body: var(--color-body);
$color__bg: var(--color-bg);
