// Resusable
$transition: var(--transition);
$transition--long: var(--transition-long);
$shadow: var(--shadow);
$radius: var(--radius);
$btn__padding: var(--btn-padding);
$btn__padding--large: var(--btn-padding-large);

$wrapper: 72.5em;
